<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 style="color: #fff">Autenticación</h1>
</nav>
<div style="margin-top: 30px">
    <a href="/login" class="btn btn-primary btn-lg active">Login</a>
    <a href="/register" class="btn btn-success btn-lg active">Register</a>
</div>
