<div class="row justify-content-md-center">
    <div class="col-md-4">
        {{#if message}}
            <div class="alert {{messageClass}}">
                {{message}}
            </div>
        {{/if}}
        <form action="/register" method="POST">
            <div class="mb-3">
                Fullname
                <input type="text" class="form-control" name="fullName" />
            </div>
            <div class="mb-3">
                Email
                <input type="text" class="form-control" name="email" />
            </div>
            <div class="mb-3">
                Password
                <input type="password" class="form-control" name="password" />
            </div>
            <div class="mb-3">
                Confirm Password
                <input type="password" class="form-control" name="confirmPassword" />
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>